*{
    padding: 0%;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #270858;
    padding: 10px;
    color: white;
}
.brand{
    font-weight:bolder ;
    width:20%;
    text-align:center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.searchbar{
    width: 45%;
}
.searchbar input{
    width: 50%;
   
}
input::placeholder{
    padding: 10px;
    font-weight: bold;
}
.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.navbarwrapper{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #4b1b78;
    color: white;
    font-weight: bold;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 350p;
    height:350px;

}
.items{
    color:white;
    background-color: rgb(38, 109, 214);
    text-decoration:none;
    font: bold;
}
.container1{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    /* background: rebeccapurple; */
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.underline{
    width: 61px;
    height: 6px;
    /* background: #3c009d; */
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #4b1b78; */
}
.inputs1{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
}
.input1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 360px;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}
.input1 img{
    margin: 0px 30px;

}
.input1 input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 19px;
    background-color: rgb(77, 12, 105);
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.submit-container{
    display: flex;
    gap:30px;
    margin: 150px auto; 
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4b1b78;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}
